@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
    font-family: 'Bree Serif', serif;
}

#box {
    width: 40%;
    height: 60vh;
    margin: 0 auto;
    padding: .6rem;

    border: 2px solid #1a1940;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box-header {
    flex: 25%;

    color: #1a1940;
}

h1 {
    font-size: 2.2rem;
}

p {
    font-size: 1.5rem;
}

#ans {
    font-weight: bold;
}

#content {
    width: 100%;
    /* height: 40vh; */
    flex: 75%;
    margin: 0 auto;

    background-color: #1a1940;

    display: flex;
    align-items: center;
    justify-content: center;
}

#load-disc {
    /* background-color: rgb(255, 136, 0); */
    width: 4rem;
    height: 4rem;

    transform: rotate(0deg);
}

@keyframes load-disc {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#content:hover #load-disc {
    animation-name: load-disc;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.quad {
    width: 50%;
    height: 50%;

    float: left;

    display: flex;
}

.ball {
    width: 1rem;
    height: 1rem;

    border-radius: 50%;
}

#ball-1 {
    background-color: #006eff;
}

#ball-2 {
    background-color: #1900ff;
}

#ball-3 {
    background-color: rgb(0, 81, 221);
}

#ball-4 {
    background-color: #000a8f;
}

@keyframes load-quad-1 {
    from {
        top: 0%;
        left: 0%;
    }

    to {
        top: 45%;
        left: 45%;
    }
}

@keyframes load-quad-2 {
    from {
        top: 0%;
        right: 0%;
    }

    to {
        top: 45%;
        right: 45%;
    }
}

@keyframes load-quad-3 {
    from {
        bottom: 0%;
        left: 0%;
    }

    to {
        bottom: 45%;
        left: 45%;
    }
}

@keyframes load-quad-4 {
    from {
        bottom: 0%;
        right: 0%;
    }

    to {
        bottom: 45%;
        right: 45%;
    }
}

#content:hover #Q1 {
    position: relative;

    animation-name: load-quad-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#Q2 {
    justify-content: end;
}

#content:hover #Q2 {
    position: relative;

    animation-name: load-quad-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#Q3 {
    justify-content: start;
    align-items: end;
}

#content:hover #Q3 {
    position: relative;

    animation-name: load-quad-3;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#Q4 {
    justify-content: end;
    align-items: end;
}

#content:hover #Q4 {
    position: relative;

    animation-name: load-quad-4;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}